[schema]
filename = "schema.sql"

[migrations]
directory = "migrations"

[database]
#host = ""
#port = ""
#user = ""
#password = ""
dbname = "my_awesome_db"
#schema = "public"

[migra]
safe = false
privileges = false
